{% load static %}
{% load widget_tweaks %}
<style>
.navbar-nav > li > a, .navbar-brand {
    padding-top:10px !important; padding-bottom:10px !important;
    height: 60px;
}
.navbar {min-height:50px !important;}
</style><link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >



 <body >
      <header>
    <nav class="navbar navbar-expand-md navbar-dark top-20px bg-dark">
      <a class="navbar-brand" href="/">Tourism</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item active">
            <a class="nav-link" href="/hotels/">Hotels</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/data/">Data</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/logout/">Logout</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        
        <form class="form-inline mt-1 mt-md-0">
          <p class="lead text-white">Welcome admin</p>
        </form>
        
      </div>
    </nav>
  </header>
      <main role="main" style="margin-top:0px">
      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-#fff">
        <div class="col-md-12 p-lg-12 mx-auto my-15" bg-#fff>
      <h2 align=center>Book a Room at {{ hotel_obj.hotel_name }}</h2>
     
      <main role="main" style="margin-top:40px">
       <div class="container" bg-#fff  >
    
    <p>Number of Single bedrooms  : {{ hotel_obj.single_room_number }}</p>
    <p>Number of Double bedrooms  : {{ hotel_obj.double_room_number }}</p>
    <p>Number of Executive rooms  : {{ hotel_obj.executive_room_number }}</p>
</div>

<div class="container" bg-#fff  >
    <p>Cost of Single bedroom  : {{ hotel_obj.single_room_cost }}</p>
    <p>Cost of Double bedroom  : {{ hotel_obj.double_room_cost }}</p>
    <p>Cost of Executive room  : {{ hotel_obj.executive_room_cost }}</p>
</div>

<h3>{{ note }}</h3>

<div class="container">
<form class="form-group" style="width:30%;" action="{% url 'book' pk %}" method="POST">
    {% csrf_token %}

    {% for field in hotel_form %}
    {{ field.errors }}
    {{ field.label_tag }}
    {% render_field field class='form-control' %}
    {% endfor %}

    <br><br>

    <input type="submit" value="Book Now"></div></div>
</div>
</main>
</form>
</main>
</body>
